<div class="row align-items-center" style="width: 100%;">
  <div class="col-auto">
    <button class="btn btn-info text-white" title="Back" {{on "click" this.goToMainPage}}>
      Go to Main Menu
    </button>
  </div>
  <div class="col">
    <h1>{{this.team.name}}</h1>
    <small>{{this.team.description}}</small>
  </div>
  <div class="col d-flex justify-content-end">
    <button data-bs-target="#addMember" data-bs-toggle="modal" class="btn btn-info text-white"
      style="height: 100%; min-height: 4rem; min-width: 4rem">Add Member</button>
  </div>
</div>

<ModalForm @id="addMember" @title="Add Member">
  <CardForm @action={{this.addMember}} @submitWording="Add" />
</ModalForm>